{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>تعادلگرا</title>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-4 bg-warning text-center p-4">
		<a href="{% url 'Quran:index' %}" class="link-dark h3">قرآن</a>
	</div>
	<div class="col-4 bg-success text-center p-4">
		<a href="{% url 'Film:index' %}" class="link-dark h3">فیلم</a>
	</div>
	<div class="col-4 bg-secondary text-center p-4">
		<a href="{% url 'Justice:index' %}" class="link-dark h3">عدالت</a>
	</div>
</div>
{% endblock %}